<div id="product" *ngFor="let product of category.products">
    <div id="productDiv">
        <div id="imageDiv">
                <img routerLink="/product/{{product.id}}" class="img" src='../../assets/{{product.productImage}}.png' alt="" onerror="this.src='../../assets/unknownItem.png';" > <!--   ../../assets/{{product.productImage}}.png -->
        </div>
        <div id="textDiv">
            <p>{{product.name}}</p>
            <p>{{product.price}} -dkk</p>
            <button (click)="addProductToCart(product)">add</button>
        </div>
    </div>
</div>
