#product{
    box-sizing: border-box;
    width: 20%;
    height: 50vh;
    float:left;
    text-align: center;
    margin-top: 1%;
    .img{
        max-width: 80%;
        background-image:image('../../assets/unknownItem.png');
        max-height: 80%;
    
    }
}

