#productDiv{
    box-sizing: border-box;
    width: 20%;
    float:left;
    margin-top: 1%;
    #imageDiv{
        height: 30vh;
        width: 100%;
        text-align: center;
        img{
            max-width: 90%;
            background-image:image('../../assets/unknownItem.png');
            max-height: 95%;
        }
    }
    #textDiv{
        float: none;
        height: 10vh;
        width: 100%;
        text-align: center;
    }
}
    

