#product{
    box-sizing: border-box;
    width: 20%;
    float:left;
    text-align: center;
    margin-top: 1%;
    .img{
        background-image:image('../../assets/unknownItem.png');
        width: 80%;
        height: auto;
    
    }
}