<div id="banner">
  <h1 >FolletShop</h1>
  <nav>
    <a routerLink="/">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Dropdown</button>
      <div class="dropdown-content" >
        <div *ngFor="let category of categories">
          <a routerLink="/products/{{category.id}}">{{category.categoryName}}</a>
        </div>
      </div>
    </div>
    <a routerLink="/admin/product">Admin product</a> |
    <a routerLink="/admin/category">Admin category</a> |
  </nav>
</div>

<router-outlet></router-outlet>